h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-title-color);
}

.link-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    .link-item {
        display: block;
        width: calc(100% / 2 - 10px);
        height: 32px;
        line-height: 32px;
        user-select: none;
        text-decoration: none;
        background-color: var(--background-color);
        color: var(--font-color-light);
        text-align: center;
        border-radius: var(--border-radius-base);
        font-size: var(--font-size-base);
        transition: all 0.25s ease-in;
        &:hover {
            background-color: var(--info-color);
            color: var(--white);
        }
        &-active {
            background-color: var(--info-color);
            color: var(--white);
        }
    }
}

.group-container {
    width: 100%;
    height: 100%;
}
