:root {
    // 646cff 747bff
    --primary-color: #535bf2;
    --success-color: #4caf50;
    --warning-color: #ff9800;
    --error-color: #f44336;
    --info-color: #8faac1;
    --border-color: #ebeef5;
    --background-color: #f5f7fa;
    --white: #fff;
    --black: #000;
    --font-title-color: #213547;
    --font-color: #303133;
    --font-color-light: #606266;
    --font-color-lighter: #909399;
    --font-color-lightest: #d4d9e2;
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-large: 16px;
    --border-radius-base: 4px;
    --border-radius-small: 2px;
    --border-radius-middle: 4px;
    --border-radius-large: 6px;
    --padding-base: 15px;
    --padding-small: 10px;
    --padding-large: 20px;
    --margin-base: 15px;
    --margin-small: 10px;
    --margin-extra-small: 5px;
    --margin-large: 20px;
    --line-height-base: 1.5;
    --line-height-small: 1.33;
    --line-height-large: 1.67;
}
