body {
    color: var(--font-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-title-color);
}

.link-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    .link-item {
        display: block;
        width: calc(100% / 2 - 10px);
        height: 32px;
        line-height: 32px;
        user-select: none;
        text-decoration: none;
        background-color: var(--background-color);
        color: var(--font-color-light);
        text-align: center;
        border-radius: var(--border-radius-base);
        font-size: var(--font-size-base);
        transition: all 0.25s ease-in;
        &:hover {
            background-color: var(--info-color);
            color: var(--white);
        }
        &-active {
            background-color: var(--info-color);
            color: var(--white);
        }
    }
}

.group-container {
    width: 100%;
    height: 100%;
}

.editor-item-wrap {
    .sign {
        font-weight: 600;
        margin-bottom: 5px;
    }
    .iconfont {
        font-size: 18px;
    }
}

// 隐藏滚动样式
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 整体滚动条样式 */
::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    border-radius: 10px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: var(--el-color-info-light-5); /* 滑块颜色 */
    border-radius: 10px; /* 圆角 */
}

/* 滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
    background: var(--el-color-info); /* 悬停时的颜色 */
}
