* {
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --background-color: #171717;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
