:root {
    --color-accent: #171717;
    --color-text-title: #171717;
    --color-text-body: #404040;
    --color-text-tip: #737373;
    --color-text-highlight: #dc2626;
    --color-bg: #ffffff;
    --color-bg-sub: #f5f5f5;
    --color-border: #e5e5e5;
    --color-border-active: #171717;
    --color-bg-hover: #f4f4f5;
}

html.dark {
    --color-bg: #16181d;
    --color-bg-sub: #23262e;
    --color-bg-hover: #343a45;
    --color-border: #474c54;
    --color-border-active: #575d65;
    --color-text-title: #ffffff;
    --color-text-body: #babcbf;
    --color-text-tip: #7c7f86;
    --color-text-highlight: #ef4444;
    --color-accent: #babcbf;
}
