:root {
    --color-accent: #171717;
    --color-text-title: #171717;
    --color-text-body: #404040;
    --color-text-tip: #737373;
    --color-text-highlight: #dc2626;
    --color-bg: #ffffff;
    --color-bg-sub: #f5f5f5;
    --color-border: #e5e5e5;
    --color-border-active: #171717;
    --color-bg-hover: #f5f5f5;
}

html.dark {
    --color-bg: #23272f;
    --color-bg-sub: #343a46;
    --color-bg-hover: #343a45;
    --color-border: #474c54;
    --color-border-active: #23272f;
    --color-text-title: #f6f7f9;
    --color-text-body: #ebecf0;
    --color-text-tip: #99a1b3;
    // #58c4dc
    --color-text-highlight: #149eca;
    --color-accent: #149eca;
}
